@mixin font-regular(){
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin font-bold(){
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

@mixin buttonStyle(){
  display: inline-block;
  @include font-bold;
  font-size: 14px;
  background: white;
  color: black;
  border: 1px solid #202234;
  border-radius: 7px;
  padding: 7px 12px;
  margin-bottom: 50px;
  &:hover{
    cursor: pointer;
    background: #202234;
    color: white;
    border: 1px solid #202234;
  }
  &:focus {
    outline: none;
  }
}

body{
  max-width: 100%;
  background: #31334A;
}

h1{
  margin-bottom: 40px;
}

h1, h2{
  @include font-regular;
  color: white;
}

.button_get_code{
  @include buttonStyle;
}

.button_clear_code{
  @include buttonStyle;
}

.main{
  margin: 0 auto;
  width: 90%;
}

.wrapper-task{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.wrapper-textarea{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.text-area-block{
  width: 45%;
  position: relative;
}

textarea{
  resize: none;
  padding: 7px;
  width: 100%;
}

.check-no{
  border: 2px solid red;
}

.check-yes{
  border: 2px solid green;
}

.output1, .output2{
  background: #202234;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  color: white;
  margin-bottom: 30px;
}

.pop-up{
  position: absolute;
  display: flex;
  @include font-regular();
  font-size: 16px;
  color: pink;
}

.pop-up-one{
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
}
.pop-up-two{
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
}
